// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1, .article-container h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

// Less obtrusive hero image caption
.hero-caption {
  display: block;
  position: absolute;
  right: 15px;
  bottom: 0;
  background: rgba(255,255,255,0.83333);
  color: rgba(0, 0, 0, 0.54);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem 0 0;
  line-height: 1.1428571429;
}
.hero-caption-below {
  bottom: -1.5rem;
  border-radius: 0 0 0.25rem 0.25rem;
}

// Smaller font size unification with bootstrap's .small

.navbar {
  font-size: #{$sta-font-size-small}px;
}
@media screen and (min-width: 58em) {
  .navbar {
    font-size: 1rem;
  }
}

.card-simple .article-style,
.media.stream-item .article-style {
  margin-top: 2px;
  font-size: 0.875rem;
}

.breadcrumb,
.article-metadata, .article-header-caption,
.hero-caption,
.btn.btn-sm,
.docs .body-footer,
.docs-sidebar .nav > li > a,
.people-widget, .people-widget .portrait-title h3,
.wg-about .portrait-title h3,
.search-hit-description,
pre, small, .small, footer p, footer .powered-by, .pub-icon,
.page-subtitle,
.card .card-text p,
.featurette,
.author-card .card-subtitle, .author-card .card-text
.exp-meta, .experience .card-text, .experience .card-text p,
figure figcaption
{
  font-size: 0.875rem;
}

// Transparent avatars background

.avatar {
  background-color: #e0e0e0;
}



// Alignment with Bootstrap sizing conventions

.btn {
  font-size: 1rem;
}

.hero-title {
  font-size: 2.75rem;
}

.hero-lead, .wg-hero .btn-lg, .wg-hero .btn-group-lg > .btn {
  font-size: 1.25rem;
}

table {
  font: inherit;
}

// Unnecessary and weird
.article-metadata {
  letter-spacing: normal;
}

.article-style a:not(.summary-link):hover {
  text-decoration: underline;
}
